.app.dark {
    --bg-color: hsla(240, 57%, 54%, 0.59);
    --inverted-bg-color: rgba(191, 191, 193, 0.94);
    --primary-color: #049604;
    --secondary-color: #04ff04;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;
}
