.app.dark {
  --bg-color: rgb(68, 68, 177);
  --inverted-bg-color: rgb(207, 207, 207);

  --primary-color: rgb(26, 182, 26);
  --secondary-color: rgb(31, 255, 31);

  --inverted-primary-color: rgb(12, 59, 102);
  --inverted-secondary-color: rgb(35, 110, 223);
}
