.app.dark {
    --bg-color: hsl(240deg 57% 54% / 59%);
    --inverted-bg-color: rgb(191 191 193 / 94%);
    --primary-color: #049604;
    --secondary-color: #04ff04;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;
}
